<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}My Website{% endblock %}</title>
  <!-- <title>My Blog</title> -->
  <link rel="stylesheet" href="/static/css/style.css">
  <!--code highlight-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  <!--code highlight-->

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
</head>

<body>


  <div class="sidebar-container">
    <aside class="sidebar">
      <img src="/static/images/CMB.webp" alt="Profile Picture" class="sidebar-image">
      <h1>Prakrut Chaubal</h1>
      <ul>
        <li><a href="/index.html" class="nav-link {% if current_page == 'home' %}active{% endif %}">🏠 Home</a></li>
        <li><a href="/tabs/about.html" class="nav-link {% if current_page == 'about' %}active{% endif %}">👤 About</a></li>
        <li><a href="/tabs/archive.html" class="nav-link {% if current_page == 'archive' %}active{% endif %}">📚 Archive</a></li>
        <li><a href="/tabs/contact.html" class="nav-link {% if current_page == 'contact' %}active{% endif %}">✉️ Contact</a></li>
      </ul>
    </aside>
  </div>


  {% block body %}{% endblock %}

</body>

</html>

